body {
  background: #ccc;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
}

h4 {
  margin: 0px;
  color: #fff;
  font-size: 22px;
}

.fontized {
  font-size: 18px;
  font-family: sans-serif;
  display: block;
  text-decoration: none;
}
.stylized {
  border: 2px solid #6D1E20;
  border-radius: 3px;
  background: #B13234;
}
.stylized-light {
  border: 2px solid #aaa;
  background: #dedede;
}
.boxed {
  padding: 12px;
  margin: 6px auto;
}
.half-btn:first {
  margin-left: 0;
}
.half-btn {
  width: 42%;
  margin-left: 1%;
  float: left;
  color: #111;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

#container {
  margin: auto;
  display: inline-block;
  padding: 0 2em;
  background: #111;
  border: 2px solid #333;
  border-top: 2px solid #B13234;
}
#container h1 {
  margin: 0;
  padding: 20px 0;
  text-align: center;
  color: #B13234;
  border-top: 2px solid #6D1E20;
}

#container #game {
  margin: 0px auto 20px;
}

/*
  STEP 1
*/
#container #step1 #server-addresss, #container #step1 #set-server {
  margin: 20px auto;
  padding: 12px;
  font-size: 18px;
  border: 2px solid #6D1E20;
  border-radius: 3px;
  font-weight: bold;
  display: block;
  width: 400px;
}
#container #step1 #server-addresss {
  width: 430px;
}
#container #step1 #set-server {
  background: #B13234;
  color: #111;
  text-decoration: none;
}

#container #step2 #username {
  background: #fff;
  margin: 20px auto;
  padding: 12px;
  display: block;
  width: 430px;
}
#container #step2 #set-username {
  margin: 20px auto;
  padding: 12px;
  text-decoration: none;
  color: #111;
  font-weight: bold;
}
#container #step3 .room-box {
  text-align: left;
}
#container #step3 .room-box a {
  text-decoration: underline;
}
#container #step3 .room-box a:hover {
  text-decoration: none;
  cursor: pointer;
}

#container #step4 #chat-box {
  position: relative;
  height: 400px;
  width: 600px;
}
#container #step4 #chat-box #chat-messages {
  max-height: 350px;
  overflow-y: scroll;
  margin: 10px;
}
#container #step4 #chat-box #chat-messages .message-line {
  text-align: left;
  color: #111;
}
#container #step4 #chat-box #chat-messages .message-line.op {
  color: #1D00DE;
}
#container #step4 #chat-box #chat-messages .message-line .message-line-from {
  display: inline-block;
  width: 90px;
  text-align: right;
  margin-right: 5px;
  padding-right: 5px;
}

#container #step4 #chat-box #chat-toolbar {
  position: absolute;bottom: 10px;left: 10px;right:10px;
  background: #666;
  border: 2px solid #111;
  border-radius: 3px;
  padding: 6px;
}

#container #step4 #chat-box #chat-toolbar textarea {
  float: left;
  border: 2px solid #111;
  border-radius: 3px;
  width: 74%;
  height: 44px;
  font-size: 16px;
}
#container #step4 #chat-box #chat-toolbar a {
  float: right;
  display: inline-block;
  border: 2px solid #111;
  border-radius: 3px;
  width: 24%;
  text-decoration: none;
  color: #111;
  background: #fff;
  line-height: 40px;
  height: 40px;
}

/*
  STATUS
*/
#connection-status {
  position: absolute; bottom: 0; left: 50%;
  margin-left: -125px;
  width: 250px;
  height: 18px;
  padding: 6px;
  border-radius: 3px 3px 0 0;
  transition: bottom 0.4s, opacity 0.5s;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#connection-status.hidden {
  bottom: -40px;
  display: block;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

canvas {
	background-color: #08f;
}

.hidden {
  display: none;
}
