<html>
  <head>
    <title>NodePixiSocket Bomberman</title>
    <link rel="stylesheet" type="text/css" href="/style/style.css">
  </head>
  <body>
    <div id="container">
      <h1>NodePixiSocket Bomberman</h1>

      <div id="pregame">
        <div id="step1">
          <h4>Connect to a server</h4>
          <input type="text" name="server-addresss" id="server-addresss" placeholder="Server address" value="{{host}}" />
          <a href="javascript:void(0);" id="set-server">Connect to server</a>

          <div style="text-align:center;">
            <a href="javascript:void(0);" class="dev-set-server" data-url="http://localhost:{{port}}">http://localhost:{{port}}</a><br/>
            <a href="javascript:void(0);" class="dev-set-server" data-url="http://bomberman.kiasaki.com">http://bomberman.kiasaki.com</a>
          </div>

        </div>
        <div id="step2">
          <h4>Pick a username</h4>
          <input type="text" class="stylized fontized" name="username" id="username" />
          <a href="javascript:void(0);" class="stylized fontized" id="set-username">Set username</a>
        </div>
        <div id="step3">
          <h4>Choose a room</h4>
          <div id="room-select">

          </div>
        </div>
        <div id="step4">
          <h4>Room: <span id="room-name"></span></h4>
          <p style="color:#fff;">
            <span id="room-count"></span> / <span id="room-cap"></span> players
          </p>
          <div id="room-users"></div>
          <div id="chat-box" class="stylized stylized-light boxed fontized">
            <div id="chat-messages"></div>
            <div id="chat-toolbar">
              <textarea name="message" id="chat-message" rows="2"></textarea>
              <a href="javascript:void(0);">Send</a>
            </div>
          </div>
          <div id="chat-buttons">
            <a href="javascript:void(0);" class="stylized fontized boxed" id="chat-back">&larr; Back</a>
            <a href="javascript:void(0);" class="stylized fontized boxed" id="chat-startgame">Start game</a>
          </div>
        </div>
      </div>

      <div id="game"></div>
    </div>

    <div id="connection-status" class="hidden fontized stylized"></div>

    <!-- Libs -->
    <script src="/js/lib/socket.io.js"></script>
    <script src="/js/lib/pixi.dev.js"></script>
    <script src="/js/lib/jquery.min.js"></script>

    <!-- Engine -->
    <script src="/character.js"></script>
    <script src="/tileMap.js"></script>
    <script src="/engine.js"></script>

    <!-- Game (render & client-specific) -->
    <script src="/js/spritesheet.js"></script>
    <script src="/js/camera.js"></script>
    <script src="/js/game.js"></script>
    <script src="/js/render.js"></script>

    <!-- GUI / Pregame -->
    <script src="/js/server.js"></script>
    <script src="/js/statusManager.js"></script>
    <script src="/js/stepsManager.js"></script>
    <script src="/js/chatManager.js"></script>
    <script src="/js/pregame.js"></script>
  </body>
</html>
